.Members {
  display: grid;
  padding: 20px;
  grid-template-rows: 1fr auto auto;
  grid-row-gap: 20px;
  grid-area: Members;
}

.Members-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  border-top: 2px solid #ccc;
}

.Members-result {
  padding: 20px 0 0;
  border-top: 2px solid #ccc;

  pre {
    margin: 0;
    padding-top: 20px;
    color: #fff;
  }
}
