.App {
  position: relative;
  display: grid;
  grid-template-rows: 15% auto;
  height: 100vh;
  background-color: #282c34;
  grid-template-areas: 'Header New-member' 'Members Members';
  color: #ccc;
  z-index: 1;
}

.App-messages {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  list-style: none;
  z-index: 2;
}
